@media screen and (max-width: 576px){
    header {
        padding: 0 25px;
    }

    nav {
        padding: 30px 0;
        gap: 10px;
    }

    .navbar-container {
        display: none;
    }

    .brand {
        font-size: 1.25rem;
    }

    .nav-links {
        gap: 16px;
    }

    .nav-2 {
        visibility: visible;
    }



    .banner-container {
        flex-direction: column-reverse;
    }


    .banner-image img{
        width: 100%;
    }

    .banner-content {
        text-align: center;
    }

    .banner-title {
        font-size: 1.75rem;
    }

    .banner-subtitle {
        font-weight: 500;
        font-size: 0.75rem;
    }

    .banner-image {
        width: 80%;
        margin-bottom: 14px;
    }




    .sponsors {
        padding: 35px 0px;
    }

    .sponsors-companies {
        gap: 16px;
        justify-content: center;
        flex-wrap: wrap;
    }



    .popular-collection {
        padding: 0 25px;
    }

    .popular-collection-card-container {
        grid-template-columns: repeat(1, 1fr);
    }
   


    .featured-products {
        padding: 0 25px;
        flex-direction: column-reverse;
        text-align: center;
        margin-bottom: 50px;
    }

    .featured-products-title {
        font-size: 1.5rem;
    }

    .featured-products-image img{
        width: 100%;
    }
}



@media screen and (min-width: 576px) and (max-width: 992px){
    header {
        padding: 0 25px;
    }

    nav {
        padding: 30px 0;
        gap: 10px;
    }

    .navbar-container {
        display: none;
    }

    .brand {
        font-size: 1.25rem;
    }

    .nav-links {
        gap: 16px;
    }

    .nav-2 {
        visibility: visible;
    }





    .banner-image img{
        width: 100%;
    }

    .banner-title {
        font-size: 1.75rem;
    }

    .banner-subtitle {
        font-weight: 500;
        font-size: 0.75rem;
    }

    .banner-image {
        width: 80%;
        margin-bottom: 14px;
    }




    .sponsors {
        padding: 35px 0px;
    }

    .sponsors-companies {
        gap: 16px;
        justify-content: center;
        flex-wrap: wrap;
    }



    .popular-collection {
        padding: 0 25px;
    }

    .popular-collection-card-container {
        grid-template-columns: repeat(2, 1fr);
    }




    .featured-products {
        padding: 0 25px;
        flex-direction: column;
        text-align: center;
        margin-bottom: 50px;
    }

    .featured-products-title {
        font-size: 1.5rem;
    }

    .featured-products-image img{
        width: 100%;
    }

}